body.dark {
    color: #f7f7f7;
    background-color: #222;
}

.dark .lighter {
    color: #888;
}

.dark ul#ticker li img {
    outline: solid rgba(255,255,255,0.4) 1px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

#options b {
    color: #000;
}

#options li:hover {
    background-color: rgba(0,0,0,0.03);
}

#options .divider {
    border-top: 1px solid #aaa;
}

.dark #icons .awesome, .dark #icons .weather {
    color: #444;
    text-shadow: none;
}

.dark #icons .current {
    color: #aaa;
}

.dark #icons .awesome:hover, .dark #icons .weather:hover {
    border-bottom: 1px solid #444;
}


.dark #notepad {

}

.dark #notepad:before {
   border-color: #222 #222 #F3FF8E #F3FF8E;
   background:#F3FF8E;
}

.dark #footer {
    background-color: #111;
    color: #fff;
    font-size: 12px;
    box-sizing: border-box;
    line-height: 60px;
    height: 60px;
    text-shadow: 0px -1px 0px #000;
}

.nav a, .nav a:active, .nav a:visited {
    color: #fff;
}
.nav a:hover {
    color: #aaa;
    background-color: rgba(0,0,0,0.5);
}

.dark .tip {
    color: #aaa;
}